@import './normalize.css';

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 字体 */
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  /* 禁止用户选中文字、图片 */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  /* rem vm/vh */
  width: 100vw;
}
a {
  color: var(--color-text);
  text-decoration: none;
}
/* 清除浮动 */
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
}
.clear-fix {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* 省略号 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
